/* general body style */
body							{ background: #ADB0C4	}

a:link						{ color: #555A7D;
								font-decoration: underline;}
a:visited					{ color: #555A7D;
								font-decoration: underline;}

h1							 	{ text-align: Left; 
										font-size: 12pt; 
										font-family: Arial; 
										font-weight: Normal; }
p							 		{ text-align: Left;
										font-family: Arial;
										font-weight: Normal;
										font-size: 12pt;
										margin-left: 5; 
               			margin-top: 0; 
										margin-bottom: 8 }
hr								{ color: #ADB0C4;
										margin-top: 0;
										margin-bottom: 0;
										padding-top: 0;
										padding-bottom: 0;
										border-top: 0;
										border-bottom: 0 }

/* navigation menu styles */
h1.menu					 	{ text-align: Center;
										color: rgb(70,70,102);
										font-weight: bold;
										margin-top: 3; 
										margin-bottom: 8 }
p.menu_divider 		{ margin-top: 3; 
										margin-bottom: 3 }
p.menu_item   		{ font-size: 10pt; 
										line-height: 100%; 
										margin-left: 10; 
               			margin-top: 5; 
										margin-bottom: 5 }
td.menu_background 	{ background-image: url('images/menu_m.gif'); 
											background-repeat: repeat; 
											background-position: left top	}
td.menu_left_border 	{ background-image: url('images/menu_l.gif'); 
												background-repeat: repeat-y; 
												background-position: left top	}
td.menu_right_border 	{ background-image: url('images/menu_r.gif'); 
												background-repeat: repeat-y; 
												background-position: left top }

/* page body styles */
p.code        		{ font-family: "Courier New"; 
										font-size: 12pt;
										margin-left: 25 }
h1.body 					{ text-align: Center; 
										font-weight: bold; 
										margin-top: 3; 
										margin-bottom: 8 }
td.body_left_border 	{ background-image: url('images/border_l.gif'); 
												background-repeat: repeat-y; 
												background-position: left top }
td.body_right_border 	{ background-image: url('images/border_r.gif'); 
												background-repeat: repeat-y; 
												background-position: left top }
												
.plugin_shaded { font-family: arial; font-size: 12pt; margin-left: 5; 
               margin-top: 0; margin-bottom: 8; background-color: "E8E8E8" }
.plugin_plain { font-family: arial; font-size: 12pt; margin-left: 5; 
               margin-top: 0; margin-bottom: 8; background-color: "FFFFFF" }

li								{ font-family: Arial; 
										font-size: 12pt; 
										text-align: Left; 
										margin-left: 5; 
               			margin-top: 0; 
										margin-bottom: 8 }
h1.question 			{ font-weight: bold; 
										color: rgb(70,70,102); 
										margin-top: 3; 
										margin-bottom: 8 
										margin-left: 15 }
p.answer					{ margin-left: 25 }

