<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>JavaApplicationStub</string>
    <key>CFBundleIconFile</key>
    <string>acorn.icns</string>
    <key>CFBundleIdentifier</key>
    <string>net.sourceforge.squirrel_sql</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>SQuirreLSQL</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>@SquirrelVersion@</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>@SquirrelVersion@</string>
    <key>Java</key>
    <dict>
        <key>MainClass</key>
        <string>net.sourceforge.squirrel_sql.client.Main</string>
        <key>JVMVersion</key>
        <string>1.5+</string>
        <key>ClassPath</key>
        <string>$JAVAROOT/squirrel-sql.jar:$JAVAROOT/lib/antlr-2.7.5H3.jar:$JAVAROOT/lib/commons-cli.jar:$JAVAROOT/lib/commons-logging-1.0.4.jar:$JAVAROOT/lib/forms.jar:$JAVAROOT/lib/fw.jar:$JAVAROOT/lib/hibernate3.jar:$JAVAROOT/lib/jxl.jar:$JAVAROOT/lib/log4j.jar:$JAVAROOT/lib/nanoxml-2.2.3.jar:$JAVAROOT/lib/openide-loaders.jar:$JAVAROOT/lib/openide.jar:$JAVAROOT/lib/org-netbeans-modules-editor-fold.jar:$JAVAROOT/lib/org-netbeans-modules-editor-lib.jar:$JAVAROOT/lib/org-netbeans-modules-editor-util.jar:$JAVAROOT/lib/org-netbeans-modules-editor.jar:$JAVAROOT/lib/syntax.jar</string>
        <key>WorkingDirectory</key>
        <string>$JAVAROOT</string>
        <key>Properties</key>
        <dict>
            <key>apple.laf.useScreenMenuBar</key>
            <string>true</string>
            <key>com.apple.mrj.application.apple.menu.about.name</key>
            <string>SQuirreL SQL</string>
        </dict>
        <key>Arguments</key>
        <string>--native-laf</string>
    </dict>
</dict>
</plist>
